body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: auto;
}

h1, h2, h3, h4 {
  margin: 10px 0;
}

form.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-group {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.input-group-radio {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.input-group-radio div {
  margin-right: 20px;
}

input[type="number"], input[type="submit"] {
  padding: 10px;
  margin-top: 5px;
  width: calc(100% - 20px);
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="radio"] {
  margin-right: 10px;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  width: calc(100% - 20px);
}

input[type="submit"]:hover {
  background-color: #45a049;
}

.result-container {
  margin-top: 20px;
}
